<button mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  {{ 'BUTTON.back' | translate }}
</button>

<div class="pbl-container">
  <span class="title">{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.title' | translate }}</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.timing_belt_change' | translate }}</h3>
      <ul>
        <li>{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.check_condition_of_current_timing_belt' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.remove_timing_belt_from_alternator_pulley_compressor_or_other_accessories' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.check_fully_connected_accessories_for_dirt_and_damage' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.check_condition_of_rotating_accessory_pulleys_and_wear' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.install_new_timing_belt_in_accordance_with_manufacturer_recommendations' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.tension_timing_belt_using_tensioning_system' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.check_correct_position_and_range_of_new_belt' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.check_tension_and_tightening_of_new_timing_belt' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.test_operation_of_accessories_and_belt_after_replacement' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT_document_timing_belt_replacement_for_future_reference' | translate }}</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/timebelt.webp" alt="{{ 'SERVICE_PAGE_SERVICE.TIMING_BELT.title' | translate }}">
    </article>

  </section>

</div>
