<button mat-raised-button routerLink="../" class="mb-1">
  <mat-icon>arrow_back</mat-icon>
  Назад
</button>

<div class="pbl-container">
  <span class="title">Скоростна кутия</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">Обслужване и ремонт на скоростна кутия:</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.Y</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/transmission.jpg" alt="brakes">
    </article>

  </section>

</div>
