<button mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  Назад
</button>

<div class="pbl-container">
  <span class="title">Скоростна кутия</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">Обслужване и ремонт на скоростна кутия:</h3>
      <ul>
        <li>Проверка на нивото и състоянието на маслото в скоростната кутия</li>
        <li>Промяна на маслото и филтъра на скоростната кутия (при необходимост)</li>
        <li>Проверка на състоянието на съединителя и ремонт или подмяна при нужда</li>
        <li>Проверка на състоянието на предавките и ремонт на износените или повредени части</li>
        <li>Регулиране на кабелите или хидравличните механизми за превключване на скоростите</li>
        <li>Проверка и подмяна на изтощени синхронизатори (при необходимост)</li>
        <li>Проверка и затегване на болтовете и гайките на скоростната кутия</li>
        <li>Тестване на работата на скоростната кутия след обслужване или ремонт</li>
        <li>Проверка на работата на куплунга и съединителя за коректност на настройките</li>
        <li>Тестване на превключването на скоростите за плавност и точност</li>
        <li>Проверка на утечки на масло или други проблеми и тяхното отстраняване</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/transmission.jpg" alt="brakes">
    </article>

  </section>

</div>
