@import '../../variables.scss';

.mat-toolbar {
  font-size: 14px;
  background: linear-gradient(3deg, #ffffff, transparent);
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  height: 83px;
  gap: 0.5rem;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    font-size: 52px;
  }

  img {
    height: 100%;
    border-radius: 8px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0 10px;
  cursor: pointer;
}

li:hover {
  color: $color-blue;
}

.socials-wrapper {
  display: flex;
  align-items: center;

  a {
    padding: 0 10px;

  }
}