<mat-toolbar>
  <div class="logo-wrapper pointer" routerLink="home">
    <img src="assets/logo.jpg" alt="logo">
  </div>

  <ul class="nav">
    <li routerLinkActive="active" routerLink="home">Начало</li>
    <li routerLinkActive="active" routerLink="about">За нас</li>
    <li routerLinkActive="active" routerLink="services">Услуги</li>
    <li routerLinkActive="active" routerLink="contacts">Контакти</li>
  </ul>

  <div class="socials-wrapper">
    <a href="https://www.facebook.com/profile.php?id=100091754926950">
    <img class="pointer"ngSrc="assets/icons/facebook.svg" alt="facebook-icon" width="40" height="40">
    </a>

    <a href="https://instagram.com/ttauto88?igshid=MmIzYWVlNDQ5Yg==">
      <img class="pointer"  ngSrc="assets/icons/instagram.svg" alt="facebook-icon" width="40" height="40">
    </a>
  
  </div>
 

</mat-toolbar>