@import '../../variables.scss';

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 64px;
  align-items: center;
  padding: 0 16px;
  font-size: 14px;
  background: linear-gradient(3deg, #ffffff, transparent);
  color: #000000DE;
  flex-wrap: wrap;

  span {
    padding: 0 10px;
  }

  .work-time {
    display: flex;
    align-items: center;
  }

  .phone {
    display: flex;
    align-items: center;
  }
}

.work-time-title {
  display: flex;
  align-items: center;
}

.footer-child {
padding: 1rem;
}

.socials-wrapper {
  display: none;
}

@media screen and (max-width: $md-screen) {

}

@media screen and (max-width: $sm-screem) {
  .footer {
    flex-direction: column;
  }

  .work-time-title {
    display: none;
  }

  .socials-wrapper {
    display: flex;
  }
}