<div class="carousel-container">
  @for (item of items ;track item.title; let i = $index) {
    <div class="carousel" 
     [ngStyle]="{transform: 'translateX(' + (index() * -100) + '%)'}"
     [ngClass]="{'cursor-grabbing':cordX}"
     (mousedown)="onMouseDown($event)"
     (mouseup)="onMouseUp($event, i)"
     (touchstart)="onTouchStart($event)"
     (touchend)="onTouchEnd($event,i)">
      <div class="carousel-item">
        <h1 class="title">
          <small>{{item.small}}</small>
          <span class="uppercase">{{item.large}}</span>
          <span class="blue-color"> {{item.title}}</span>
        </h1>
        <p class="desc">{{item.desc}}
        </p>
      </div>
    </div>
  }
  <div class="carousel-dots">
    @for (item of items; track i; let i = $index) {
      <span class="dot" [ngClass]="{'active' : index() === i}"
      (click)="goTo(i)"></span>
    }
  </div>
</div>