<div class="pbl-container">
  <div class="contacts-container" [@slideInOut]>

    <div class="form">
      <div class="title">{{ 'CONTACT_US_PAGE.WRITE_US' | translate }}</div>
      <form #form="ngForm" (ngSubmit)="onSubmit(form, $event)">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'CONTACT_US_PAGE.NAME' | translate }}</mat-label>
          <input #name="ngModel" matInput placeholder="John Doe" name="name" [(ngModel)]="formData.name" required>
          <mat-icon matSuffix>badge</mat-icon>
          @if (name.errors?.['required']) {
          <mat-error>{{ 'CONTACT_US_PAGE.NAME_REQUIRED' | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'CONTACT_US_PAGE.EMAIL' | translate }}</mat-label>
          <input #email="ngModel" matInput placeholder="example.com" name="email" [(ngModel)]="formData.email" required
            email>
          <mat-icon matSuffix>mail</mat-icon>
          @if (email.errors?.['required']) {
          <mat-error>{{ 'CONTACT_US_PAGE.EMAIL_REQUIRED' | translate }}</mat-error>
          }
          @if (email.errors?.['email']) {
          <mat-error>{{ 'CONTACT_US_PAGE.INVALID_EMAIL' | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'CONTACT_US_PAGE.PHONE' | translate }}</mat-label>
          <input #phone="ngModel" matInput placeholder="0xxx xxx xxx xxx" name="phone" [(ngModel)]="formData.phone"
            required pattern="[0-9]{10}">
          <mat-icon matSuffix>phone</mat-icon>
          @if (phone.errors?.['required']) {
          <mat-error>{{ 'CONTACT_US_PAGE.PHONE_REQUIRED' | translate }}</mat-error>
          }
          @if (phone.errors?.['pattern']) {
          <mat-error>{{ 'CONTACT_US_PAGE.INVALID_PHONE' | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'CONTACT_US_PAGE.MESSAGE' | translate }}</mat-label>
          <textarea #msg="ngModel" matInput name="msg" [(ngModel)]="formData.msg" required rows="6"></textarea>
          <mat-icon matSuffix>messages</mat-icon>

          @if (msg.errors?.['required']) {
          <mat-error>{{ 'CONTACT_US_PAGE.MESSAGE_REQUIRED' | translate }}</mat-error>
          }
        </mat-form-field>

        <button type="submit" [disabled]="loading" mat-raised-button>{{ 'BUTTON.send' | translate }}</button>
      </form>


    </div>

    <div class="contact-info">

      <div class="title">{{ 'CONTACT_US_PAGE.CONTACT_US' | translate }}</div>
      <div class="address">
        <a class="text-with-icon"
          href="https://www.google.com/maps/search/?api=1&query={{ADDRESS_TOWN}},{{ADDRESS_STREET}}" target="_blank">
          <mat-icon>location_on</mat-icon>
          <p><span>{{"UTILS.city" | translate}}</span> {{ADDRESS_TOWN}}</p>
          <p><span>{{"UTILS.street" | translate}}</span> {{ADDRESS_STREET}}</p>
        </a>

      </div>


      <a class="text-with-icon" href="mailto: Toshkina@abv.com">
        <mat-icon>mail</mat-icon>
        <p><a href="email:ttavtoserviz@gmail.com">ttavtoserviz&#64;gmail.com</a></p>
      </a>

      <div class="address">
        <div class="text-with-icon">
          <mat-icon>phone</mat-icon>
          <p><a href="tel:{{BUSSINES_PHONE_NUMBER}}">{{BUSSINES_PHONE_NUMBER}}</a></p>
        </div>
      </div>

      <div>
        @defer(on viewport) {
        <app-jsmap />
        } @loading {
        <process-wheel />
        }@placeholder {
          <p>No content</p>
        }
      </div>
    </div>

  </div>

</div>