<div class="pbl-container">
  <div class="flex-to-side">
    <span class="title">Галерия</span>

    <div class="upload">
      <button mat-raised-button (click)="upload.click()">
        <mat-icon>add</mat-icon>
        Добави снимка</button>
        <input #upload type="file" (change)="uploadonFileSelectedImg($event)" multiple>
    </div>
  </div>
  <div class="gallery-container">
    @if((fileUploads$ | async)) {
    @for (file of fileUploads$ | async;track file;) {
    <div class="gallery-image">
      <img [ngSrc]="file" width="100" height="100" [alt]="'url'" priority="true">
      <div class="delete-overlay">
        <mat-icon class="delete-icon">delete</mat-icon>
      </div>
    </div>
    }
    } @else {
    <p>No images found</p>
    }
  </div>


  @if(loading) {
  <process-wheel [shown]="true"></process-wheel>
  }
</div>