@import "../../variables.scss";

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.gallery-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-image img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-image:hover img {
  transform: scale(1.1);
}

.gallery-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  transition: opacity 0.3s ease;
}

.gallery-image:hover::before {
  opacity: 0;
}

.upload {
  position: relative;
  input {
    display: none;
  }
}

.delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}

.gallery-image:hover .delete-overlay {
  display: flex;
}

.delete-icon {
  color: rgba(196, 23, 23, 0.774);
  font-size: 80px;
  height: 80px;
  width: 80px;
}