<button  mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  Назад
</button>

<div class="pbl-container">
  <span class="title">Изпускателна система</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">Ремонт и подмяна на изпускателна система:</h3>
      <ul>
        <li>Проверка за изтощаващи се или повредени части в изпускателната система</li>
        <li>Ремонт на изпускателни тръби и маркучи</li>
        <li>Подмяна на катализатори, ако е необходимо</li>
        <li>Проверка и ремонт на гърнещи или разхлабени връзки</li>
        <li>Подмяна на уплътнения и уплътнителни пръстени</li>
        <li>Проверка и регулиране на изпускателната система за правилна работа и емисии</li>
        <li>Проверка и подмяна на гърнета и крепежни елементи</li>
        <li>Тестване на автомобила след ремонт за увереност в правилната работа на изпускателната система</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/exhaust.jpg" alt="fullSerivce">
    </article>

  </section>

</div>