<div class="pbl-container">
  <div class="contacts-container"  [@slideInOut]>
    <div class="form">
      <div class="title">ПИШЕТЕ НИ</div>
      <form #form="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Име</mat-label>
          <input matInput placeholder="John Doe" name="name" [(ngModel)]="formData.name" required>
          <mat-icon matSuffix>badge</mat-icon>
          <mat-error *ngIf="form.controls['name'].hasError('required')">Името e задължителено</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Имейл</mat-label>
          <input matInput placeholder="example.com" name="email" [(ngModel)]="formData.email" required email>
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngIf="form.controls['email'].hasError('required')">Имейла e задължителен</mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('email')">Имейла e невалиден</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Телефон</mat-label>
          <input matInput placeholder="+359 xxx xxx xxx"  name="phone" [(ngModel)]="formData.phone" required pattern="[0-9]{10}">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="form.controls['phone'].hasError('required')">Името e задължителено</mat-error>
          <mat-error *ngIf="form.controls['phone'].hasError('pattern')">Телефона e невалиден</mat-error>
        </mat-form-field>
        <button mat-raised-button [disabled]="form.invalid">Изпрати</button>
      </form>
    </div>
    
    <div class="contact-info"  [@slideInOut]>

      <div class="title">Свържете се с нас</div>
      <div class="address">
        <div class="text-with-icon">
          <mat-icon>location_on</mat-icon>
          <p>The Workshop</p>
        </div>
        <p> 65 Westgate Street</p>
        <p>E8 3RL</p>
      </div>


      <a class="text-with-icon" href="mailto: Toshkina@abv.com">
        <mat-icon>mail</mat-icon>
        <p>Toshkina@abv.com</p>
      </a>



      <div id="map"></div>

    </div>
  </div>
</div>