.red-color {
  color: red;
}

.table-wraper {
  overflow: auto;
  width: 100%;

  table {
    min-width: 750px;
    width: 100%;
  }
}

.responsive-table {
  display: none;
}

.selectedRow {
  background-color: red;
}

.no-data-row {
  text-align: center;
}

.no-data-cell {
  padding: 16px;
  color: #777;
  font-style: italic;
}

@media print,
(max-width: 450px) {
  .table-wraper {
    display: none;
  }

  .responsive-table {
    display: block;
  }
}