<div class="pbl-container" >

  <span class="title">Услуги</span>

  <div class="cells-container">
    @for (service of services; track service) {
      <mat-card   [@slideInOut] routerLink="{{service.path}}" >
        <mat-card-content >
          <div class="card pointer">
            <div class="card-title">{{service.title | uppercase}} </div>
            <div class="content">
              <img [ngSrc]="service?.iconPath" width="100" height="100" alt="icon" priority="">
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    }

  </div>
</div>

