<mat-toolbar>
  <div class="logo-wrapper pointer" routerLink="home">
    <img src="assets/logo.jpg" alt="logo">
  </div>

  <ul class="nav">
    <app-nav-lisst [navList]="navList"></app-nav-lisst>
  </ul>

  <div class="socials-wrapper">
    <a href="https://www.facebook.com/people/%D0%90%D0%B2%D1%82%D0%BE-%D0%A2%D0%A2/pfbid02hVNmK5T2Cfhu5DaRFzmZ8mDW4QDCgd1R3BNZ7kSbDCj2qK7R7fktWHXgK5P5saNcl/" target="_blank">
      <img ngSrc="assets/icons/facebook.svg" alt="facebook-icon" width="40" height="40">
    </a>

    <a href="https://instagram.com/ttauto88?igshid=MmIzYWVlNDQ5Yg==" target="_blank">
      <img ngSrc="assets/icons/instagram.svg" alt="instagram-icon" width="40" height="40">
    </a>
  </div>

  <languages></languages>

  @if(isLogedIn$ | async) {
  <span class="exit">{{'WELCOME' | translate}}<strong class="ms-2">{{userData?.email}}</strong></span>
  <i class=" exit" routerLink="login">
    <mat-icon matTooltip="Logout" [ngStyle]="{'color': 'red'}" (click)="logOut()">logout</mat-icon>
  </i>
  } @else {
  <i class="icon exit" routerLink="login" [ngStyle]="{'color': 'red'}">
    <mat-icon matTooltip="Login" [ngStyle]="{'color': 'green'}">login</mat-icon>
  </i>
  }


  <div class="menu">
    @if(isOpenBar) {
    <button mat-icon-button class="pointer" (click)="isOpenBar = !isOpenBar">
      <mat-icon>close</mat-icon>
    </button>
    }@else{
    <button mat-icon-button class="pointer" (click)="isOpenBar = !isOpenBar">
      <mat-icon>menu</mat-icon>
    </button>
    }

  </div>

</mat-toolbar>
<div class="position-relative">
  <section class="bar" [ngClass]="{'open-bar': isOpenBar}" (click)="isOpenBar = !isOpenBar">
    <mat-selection-list role="list">
      <mat-list-item role="listitem" routerLinkActive="active" routerLink="home">{{"NAV.HOME" | translate}}</mat-list-item>
      <mat-list-item role="listitem" routerLinkActive="active" routerLink="gallery">{{"NAV.GALLERY" | translate}}</mat-list-item>
      <mat-list-item role="listitem" routerLinkActive="active" routerLink="services">{{"NAV.SERVICES" | translate}}</mat-list-item>
      <mat-list-item role="listitem" routerLinkActive="active" routerLink="contacts">{{"NAV.CONTACTS" | translate}}</mat-list-item>

      @if(isLogedIn$ | async) {
      <mat-list-item role="listitem" (click)="logOut()">
        <span [ngStyle]="{'color': 'red'}">{{"EXIT" | translate}}</span>
      </mat-list-item>
      } @else {
      <mat-list-item role="listitem" routerLink="login">
        <span [ngStyle]="{'color': 'green'}">{{"LOGIN" | translate}}</span>
      </mat-list-item>
      }
    </mat-selection-list>
  </section>
</div>