<button mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  Назад
</button>

<div class="pbl-container">
  <span class="title">Ангренажен ремък</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">Смяна на агренажен ремък:</h3>
      <ul>
        <li>Проверка на състоянието на текущия агрегатен ремък</li>
        <li>Откачане на агрегатния ремък от шкива на алтернатора, компресора на климатика или другите агрегати</li>
        <li>Проверка на напълно свързаните агрегати за замърсявания и повреди</li>
        <li>Проверка на състоянието на шкивите на агрегатите за въртене и износване</li>
        <li>Поставяне на нов агрегатен ремък в съответствие с препоръките на производителя</li>
        <li>Натягане на агрегатния ремък с помощта на натягателната система</li>
        <li>Проверка на правилното разположение и обхват на новия ремък</li>
        <li>Проверка на тягата и натягането на новия агрегатен ремък</li>
        <li>Тестване на работата на агрегатите и ремъка след смяната</li>
        <li>Документиране на смяната на агрегатния ремък за бъдещи справки</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/timebelt.webp" alt="timebelt">
    </article>

  </section>

</div>