<button mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  {{ 'BUTTON.back' | translate }}
</button>

<div class="pbl-container">
  <span class="title">{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.title' | translate }}</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.service_and_repair_of_transmission' | translate }}</h3>
      <ul>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.check_level_and_condition_of_transmission_oil' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.change_transmission_oil_and_filter_if_necessary' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.check_condition_of_clutch_and_repair_or_replace_as_needed' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.check_condition_of_gears_and_repair_worn_or_damaged_parts' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.adjust_cables_or_hydraulic_mechanisms_for_gear_shifting' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.check_and_replace_worn_synchros_if_necessary' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.check_and_tighten_bolts_and_nuts_on_transmission' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.test_operation_of_transmission_after_service_or_repair' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.check_clutch_and_clutch_adjustment_settings_for_correctness' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.test_gear_shifting_for_smoothness_and_accuracy' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.check_for_oil_leaks_or_other_problems_and_resolve_them' | translate }}</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/transmission.jpg" alt="{{ 'SERVICE_PAGE_SERVICE.TRANSMISSION.title' | translate }}">
    </article>

  </section>

</div>
