<button  mat-raised-button routerLink="../"class="m-3">
  <mat-icon>arrow_back</mat-icon>
  Назад
</button>

<div class="pbl-container">
  <span class="title">Сервизно обслужване</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">Периодично и профилактично сервизно обслужване на автомобила:</h3>
      <ul>
        <li> Преглед на състоянието и системите на автомобила</li>
        <li> Ангренажен ремък</li>
        <li> Клиновиден ремък</li>
        <li> Пистов ремък</li>
        <li> Водна помпа</li>
        <li> Масло</li>
        <li> Маслен филтър</li>
        <li> Въздушен филтър</li>
        <li> Филтър на картерните газове</li>
        <li>Поленов филтър на купето с активен въглен</li>
        <li> Масло и филтър за автоматични скоростни кутии</li>
        <li>Смяна на спирачна течност</li>
        <li>Смяна на антифриз</li>
        <li>Смяна на хидравлично масло</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/fullService.jpg" alt="fullSerivce">
    </article>

  </section>

</div>