<button mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  {{ 'BUTTON.back' | translate }}
</button>

<div class="pbl-container">
  <span class="title">{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.title' | translate }}</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.periodic_and_preventive_maintenance' | translate }}</h3>
      <ul>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.check_condition_and_systems_of_the_car' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.timing_belt' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.v-ribbed_belt' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.piston_belt' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.water_pump' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.oil' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.oil_filter' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.air_filter' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.crankcase_gas_filter' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.cabin_pollen_filter_with_activated_charcoal' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.oil_and_filter_for_automatic_transmissions' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.brake_fluid_change' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.antifreeze_change' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.hydraulic_oil_change' | translate }}</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/fullService.jpg" alt="{{ 'SERVICE_PAGE_SERVICE.FULL_SERVICE.title' | translate }}">
    </article>

  </section>

</div>
