<button mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  {{ 'BUTTON.back' | translate }}
</button>

<div class="pbl-container">
  <span class="title">{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.title' | translate }}</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.repair_and_replacement' | translate }}</h3>
      <ul>
        <li>{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.check_for_exhaustive_or_damaged_parts' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.repair_exhaust_pipes_and_hoses' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.replace_catalytic_converters_if_necessary' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.check_and_repair_leaking_or_loose_connections' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.replace_gaskets_and_sealing_rings' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.check_and_adjust_exhaust_system_for_proper_operation_and_emissions' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.check_and_replace_gurnets_and_fasteners' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.test_vehicle_after_repair_for_confidence_in_proper_operation_of_exhaust_system' | translate }}</li>
      </ul>
    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/exhaust.jpg" alt="{{ 'SERVICE_PAGE_SERVICE.EXHAUST_SYSTEM.title' | translate }}">
    </article>

  </section>

</div>
