<div class="pbl-container">

  <div class="img-wrapper">
    <img #background src="assets/home2.jpg" alt="background">
  </div>

  @if (!isShowDefaultInfo) {
  <div class="content" [@slideInOut]>
    <h1 class="title">
      <small>{{ 'HOME.TITLE.PART1' | translate }}</small>
      {{ 'HOME.TITLE.PART2' | translate }}
      <span class="blue-color">{{ 'HOME.TITLE.PART3' | translate }}</span>
    </h1>
    <p class="desc">
      {{ 'HOME.DESCRIPTION' | translate }}
    </p>
    <div class="btns-wrapper">
      <button mat-raised-button (click)="showMoreInfo()">{{ 'SEE_MORE' | translate }}</button>
      <button mat-raised-button routerLink="../contacts">{{ 'CONTACT_US' | translate }}</button>
    </div>
  </div>
  }


  @defer (on immediate) {
  <div #carouselElem [@slideInOut]>
    @if (isShowMoreInfo) {
    <app-corousel class="more" [items]="services" />
    }
  </div>
  } @loading () {
  <process-wheel />
  }

</div>