.content {
  display: flex;
  gap: 5%;
}

.inline-card {
  min-width: 300px;
  width: 30%;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    flex-wrap: wrap;
    border-radius: 5px;
    height: 100%;
}

.hour-slot {
  width: 180px;
  padding: 20px;
  margin: 0.5rem;
  border: 1px solid #ddd;
  text-align: center;
  background-color: green;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hour-slot:hover {
  background: #8ba7c8;
}