@import '../../../variables.scss';


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inline-card {
  min-width: 435px;
  width: 30%;
  margin: 1rem;
  min-height: 450px;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    flex-wrap: wrap;
    border-radius: 5px;
}

.hour-slot {
  min-width: 180px;
  padding: 20px;
  margin: 0.5rem;
  border: 1px solid #ddd;
  text-align: center;
  background-color: green;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 6px;
}

// .hour-slot:hover {
//   background: #afc7e1;
// }

busy-slot {
  background-color: red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  mat-form-field {
    width: 100%;
  }

  button[type="submit"] {
    min-width: 190px;
    margin-left: auto;
  }
}

.notAvailable {
  background-color: red;
  pointer-events: none;
}

mat-card:has(mat-calendar) {
  color: #673ab7;
}

@media screen and (max-width: $sm-screen) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .inline-card {
    min-width: 300px;
    min-height: unset;
  }

  .hour-slot {
    flex: 1;
  }
  
}