@import '../../../variables.scss';

.card {
  width: 250px;
  height: 250px;
  background: linear-gradient(3deg, #ffffff, transparent);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;

  .card-title {
    border-radius: 8px 8px 0 0 ;
    padding: 16px;
    color: #000000DE;
  }
}

.card:hover {
  background: #8ba7c8;
}

.cells-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: calc($md-screem)) {
  .cells-container {
    justify-content: center;
  }
}
