<button mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  Назад
</button>

<div class="pbl-container">
  <span class="title">Окачване</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">Ремонт на ходова част:</h3>
      <ul>
        <li>Проверка и регулиране на окачването</li>
        <li>Проверка на амортисьорите за изтичания и износване</li>
        <li>Проверка и замяна на тампоните и подложките на окачването</li>
        <li>Регулиране на ъглите на колелата (според необходимостта)</li>
        <li>Проверка и затегване на болтовете и гайките на окачването</li>
        <li>Проверка на тракцията и замяна на износените части</li>
        <li>Проверка на тежестта и баланса на колелата</li>
        <li>Регулиране на кормилната система (при необходимост)</li>
        <li>Проверка и замяна на кормилните накрайници и кръстове</li>
        <li>Проверка и затегване на сантиметровите и винтовите връзки на ходовата част</li>
        <li>Тестване на автомобила за стабилност и комфорт по време на движение</li>
        <li>Диагностика и ремонт на евентуални шумове и вибрации при движение</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/suspension.jpeg" alt="suspension">
    </article>

  </section>

</div>