<button mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  {{ 'BUTTON.back' | translate }}
</button>

<div class="pbl-container">
  <span class="title">{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.title' | translate }}</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.suspension_repair' | translate }}</h3>
      <ul>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.check_and_adjust_suspension' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.check_shock_absorbers_for_leaks_and_wear' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.check_and_replace_suspension_bushings_and_pads' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.adjust_wheel_angles_as_needed' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.check_and_tighten_suspension_bolts_and_nuts' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.check_traction_and_replace_worn_parts' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.check_weight_and_balance_of_wheels' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.adjust_steering_system_if_necessary' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.check_and_replace_steering_tie_rods_and_crosspieces' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.check_and_tighten_centimeter_and_screw_connections_of_suspension' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.test_vehicle_for_stability_and_comfort_during_movement' | translate }}</li>
        <li>{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.diagnose_and_repair_any_noise_and_vibrations_while_driving' | translate }}</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/suspension.jpeg" alt="{{ 'SERVICE_PAGE_SERVICE.SUSPENSION.title' | translate }}">
    </article>

  </section>

</div>
