/* You can add global styles to this file, and also import other style files */
/* @import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '@angular/material/theming'; */

@use '@angular/material' as mat;

@include mat.core();
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import './variables.scss';
@import './utils.scss';


/* $custom-typography: mat-typography-config($font-family: 'Montserrat'); */

/* @include angular-material-typography($custom-typography); */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #ffff;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(assets//images/Carbon-background-large.avif);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  position: relative;
}

.pbl-container {
  padding: 16px 16px;
  background-image: url(assets//images/Carbon-background-large.avif);
  background-repeat: repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.pbl-content {
  article {
    flex: 1;
    padding: 16px 16px 16px 0px;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pbl-content-img {
  img {
    max-width: 100%;
  }
}

.pbl-form {
  max-width: 450px;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem
  }
}

.success-snackbar {
  --mdc-snackbar-container-color: green;
}

.error-snackbar {
  --mdc-snackbar-container-color: red;
}

.mat-icon {
  color: $color-blue
}

/* .mat-mdc-card {
  background: transparent !important;
} */
.mat-mdc-card-title {
  color: #00000099;
}

.icon {
  cursor: pointer;
  margin: 0 0.5rem;

  &:active {
    transform: scale(1.2);
  }
}

.socials-wrapper {
  display: flex;
  align-items: center;

  a {
    padding: 0 10px;

  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: normal;
}

.pbl-table {
  border-radius: 8px;
}

@media screen and (max-width: $md-screen) {
  .pbl-content {
    flex-direction: column;
  }

}