/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import './variables.scss';
@import './utils.scss';


$custom-typography: mat-typography-config($font-family: 'Montserrat');

@include angular-material-typography($custom-typography);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #e7e7e7;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pbl-container {
  padding: 16px 16px;
  background: linear-gradient(3deg, #1c58a2, transparent);
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.pbl-content {
  article {
    flex: 1;
    padding: 16px 16px 16px 0px;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pbl-content-img {
  img {
    width: 100%;
  }
}