.active {
  color: $color-blue;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.position-relative {
  position: relative;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.flex-to-side {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.d-flex {
  display: flex;
}

.unclickeble {
  pointer-events: none;
}