.active {
  color: $color-blue;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.position-relative {
  position: relative;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.flex-to-side {
  display: flex;
  justify-content: space-between;
}