<button mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  Назад
</button>

<div class="pbl-container">
  <span class="title">Климатик</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">Периодично и профилактично сервизно обслужване на климетик:</h3>
      <ul>
        <ul>
          <li>Преглед и зареждане на фреона</li>
          <li>Проверка на компресора и вентилаторите</li>
          <li>Проверка на филтрите за прах и полени</li>
          <li>Проверка на вътрешните и външните вентилационни отвори</li>
          <li>Проверка на уплътненията и маркучите</li>
          <li>Проверка на температурните настройки</li>
          <li>Чистене на кондензатора</li>
          <li>Проверка на общото състояние</li>
        </ul>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/air-cond.jpg" alt="fullSerivce">
    </article>

  </section>

</div>