<div class="pbl-container">

  <div class="img-wrapper">
    <img #background src="assets/home2.jpg" alt="background">
  </div>

  @if (!isShow) {
  <div class="content" [@slideInOut]>
    <h1 class="title">
      <small>
        Извършваме </small>
      Цялостни <span class="blue-color">автомобилни ремонти</span>
    </h1>
    <p class="desc">
      Автосервиз в Бургас. Експресен ремонт на вашия автомобил - външен вид, двигател, ходова част.
    </p>
    <div class="btns-wrapper">
      <button mat-raised-button (click)="showMoreInfo()">Виж повече</button>
      <button mat-raised-button routerLink="../contacts">Свържи се с нас</button>
    </div>
  </div>
  }

  @if (isShow) {

  <div class="more" [@slideInOut]>
    <app-corousel class="more" [items]="services"></app-corousel>
  </div>
  }

</div>