<div class="footer">
  <div class="footer-child work-time">
    <div class="work-time-title">
      <mat-icon>schedule</mat-icon>
      <span>{{'FOOTER.working_time' | translate}}</span>
    </div>
    <span>{{'FOOTER.monday_friday' | translate}}<span>{{WORKING_TIME}}</span></span>
  </div>

  <div class="phone footer-child">
    <mat-icon>call</mat-icon>
    <span>
      <a href="tel:{{BUSSINES_PHONE_NUMBER}}">{{BUSSINES_PHONE_NUMBER}}</a></span>
  </div>

  <div class="socials-wrapper footer-child">
    <a href="https://www.facebook.com/profile.php?id=100091754926950" target="_blank">
      <img ngSrc="assets/icons/facebook.svg" alt="facebook-icon" width="40" height="40">
    </a>

    <a href="https://instagram.com/ttauto88?igshid=MmIzYWVlNDQ5Yg==" target="_blank">
      <img ngSrc="assets/icons/instagram.svg" alt="instagram-icon" width="40" height="40">
    </a>
  </div>
</div>