<button mat-raised-button routerLink="../" class="m-3">
  <mat-icon>arrow_back</mat-icon>
  Назад
</button>

<div class="pbl-container">
  <span class="title">Спирачна система</span>

  <section class="pbl-content">

    <article class="pbl-content-article">
      <h3 class="fw-semibold">Профилактично сервизно обслужване на спирачната система:</h3>
      <ul>
        <li>Проверка на нивото и състоянието на спирачната течност</li>
        <li>Проверка на износването на спирачните дискове и накладки</li>
        <li>Проверка на състоянието на спирачните маркучи и тръби за изтичания</li>
        <li>Прочистване на спирачните барабани (при наличие)</li>
        <li>Регулиране на спирачните барабани (при наличие)</li>
        <li>Смазване на плъзгащи се повърхности и механизми на спирачната система</li>
        <li>Проверка и затегване на болтове и гайки на спирачната система</li>
        <li>Тестване на спирачната система за правилна работа и отзивчивост</li>
        <li>Прочистване или замяна на филтъра на спирачната течност (при необходимост)</li>
        <li>Проверка на системата за ABS (при наличие) и решаване на евентуални проблеми</li>
        <li>Регулиране на ръчната спирачка (при наличие) и проверка на нейната функционалност</li>
        <li>Подмяна на износените части според необходимостта (накладки, дискове, маркучи и др.)</li>
      </ul>

    </article>

    <article class="pbl-content-img">
      <img src="assets/images/repair-services/brakes2.jpg" alt="brakes">
    </article>

  </section>

</div>